.lang-page{
    background-color: var(--color-2);
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--color-4);
}

#lang-button-return{
    color: var(--color-4);
}
#lang-select-label{
    font-weight: bold;
    color: var(--color-4);
}
#lang-select-wrapper{
    width: 50%;
}